.portfolio{
  li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 20vw;
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid maroon;
  }

  span:first-child {
    cursor: pointer;
  }
}