.skills {
  ul {
    width: 300px;
    margin: 0 auto;
  }

  li {
    width: inherit;
    height: 40px ;
    margin: 10px 0;
    border: 1px solid maroon;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
  }

  .addForm {
    display: flex;
    justify-content: space-around;
    width: 170px;
    margin: 0 auto;
  }
}