.menu {
    display: flex;

    li{
        margin: 0 20px
    }

    .link {
        color: green;
    }

    .active {
        color: blue;
    }

    @media all and (max-width: 768px) {
        display: none;
    }
}

.icon {
    @media all and (min-width: 768px) {
        display: none;
    }
}

.block {
    display: flex;
}


.menu li {
    font-weight: 600;
    font-size: 18px;
    color: maroon;
    cursor: pointer;
}

.menu li:hover {
    color: green;
}