.button{
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: bisque;
  border-radius: 10px;
  border: 0;
  opacity: .7;


  &:hover {
    opacity: 1;
  }
}

.buttonLogin{
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: bisque;
  border-radius: 20px;
  border: 0;
  opacity: .7;


  &:hover {
    opacity: 1;
  }
}


.form {
  width: 400px;
  height: 400px;
  background: #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.textField {
  div {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }

  input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: lightblue;
    outline: none;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    color: maroon;
  }

}

.buttonSkills {
  height: 30px;
  width: 70px;
  background: gray;
  color: #fff;
  cursor: pointer;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

.inputSkills {
  display: block;
  width: 100px;
  margin: 0 auto;

  input {
    width: inherit;
    height: 30px;
    outline: 0;
    border: 0;
    background: lightblue;
    border-radius: 10px;
    padding: 0 10px;
  }


}